@import '../src/assets/scss/var.scss';

.usernav {
    color: #ffffff;
    background-color: #30265c;
    font-size: 18px;
    margin: 0;

      font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.un-link {
  color: #ffffff;
}

.un-navbar-brand {
  color: #ffffff;
  margin-left: 3%;
  font-size: larger;
  font-weight: 700;
}

.un-navbar-opts {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 500;
}

.un-navbar-opts-container{
  margin-left: 3%;
  width: 40%;
}

.un-navbar-opts:hover {
  color: #ffce59;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
}

.un-navbar-opts:visited {
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
}

.un-navbar-opts:active {
  color: #ffce59;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
}

.un-selected {
  color: #ffce59;
  font-weight: 700;
  outline: none;
}

.un-selected:focus,.un-selected:hover {
  font-weight: 700;
  outline: none;
}

.un-rt-flt-margin {
  margin-right: 8%;
  flex-direction: row-reverse;
}

.un-ddm {
  width: 5px;
}

.un-btn {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: inherit;
  margin-left: 15%;
  width: -webkit-fill-available;
}

.un-ddm-opt:hover {
  color: #31265c;
  font-weight: 600;
}

.un-btn:hover {
  background: none;
  // padding: 3%;
	border: none;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  color: #31265c;
  margin-left: 15%;
  font-weight: 600;
}