.et-parent {
    width: -webkit-fill-available;
    margin-right: 10%;
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
}

.et-header {
    background-color: white;
    padding: 3%;
    color: #150f2e;
}

.et-heading {

    font-weight: 450;
}

.et-h-layout {
    display: flex;
    flex-direction: row;
}

.et-ptop {
    padding: 4%;
}

.et-btn-ptop {
    padding-top: 3%;
}

.et-btn {
    color: #4b37a5;
    background-color: #f3f2f8;
    border-color: #f3f2f8;
}

.et-btn:hover {
    color: #31265c;
    background-color: #f3f2f8;
    border-color: #f3f2f8;
}

.et-btn:focus {
    color: #31265c;
    background-color: #f3f2f8;
    border-color: #f3f2f8;

}

.et-list {
    margin-left: 10%;
    margin-right: 10%;
}

.et-row-flex {
    display: flex;
    flex-direction: row;
    padding-top: 6%;
    padding-bottom: 6%;
}

.et-pad-left {
    padding-left: 6% ;
}

.et-categories-style {
    width: 76.84px;
    height: 38px;
}