.ques-style {
    background-color: #ffffff;
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
}

.ques-editor-container{
    padding-top: 2%;
    width: inherit;
}

.ques-pad-top {
    margin-top: 2%;
}