@import '../src/assets/scss/var.scss';

.topnav {
    color: $app-text;
    background-color: $app-bg;
    font-size: 18px;
    margin: 0;

      font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.link {
  color: $app-text;
}