@import '../src/assets/scss/var.scss';

.topnav {
  color: #ffffff;
  background-color: #30265c;
  font-size: 18px;
  margin: 0;

    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tn-navbar-brand {
  color: #ffffff;
  margin-left: 3%;
  font-size: larger;
  font-weight: 700;
}

.tn-navbar-opts {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
}

.tn-navbar-opts-container{
  margin-left: 3%;
  width: 40%;
}

.tn-navbar-opts:hover {
  color: #ffce59;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
}

.tn-navbar-opts:visited {
  color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 500;
  text-decoration: none;
}

.tn-navbar-opts:active {
  color: #ffce59;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
}

.tn-selected,.tn-selected:focus, .tn-selected:hover   {
  color: #ffce59;
  font-weight: 700;
  outline: none;
}




.tn-link {
  color: #ffffff;
}

.tn-rt-flt-margin {
  margin-right: 8%;
  flex-direction: row-reverse;

}

.tn-active {
  border: 1px solid #f3f2f8 !important;
    background-color: #88bada;
    border-radius: 200px;

}

.tn-spacing {
  margin-left: 15%;
  margin-right: 15%;
}