.tlb-parent {
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: row;
    color: #150f2f;
}

.tlb-number {
    padding: 2%;
    border-radius: 15px;
    background-color: #f3f2f8;
    font-size: larger;
    font-weight: 500;
    flex: 0 1 8%;
    text-align: center;
    color: #513ea8;
}

.tlb-name {
    margin-left: 5%;
    padding-top: 2%;
    font-size: larger;
    font-weight: 500;
    margin-right: 10%;
    flex: 0 1 60%;
}

.tlb-optns {
    flex: 0 1 25%;
    padding-top: 1%;
}

.tlb-btn{
    background-color: #f1eff9;
    border: #f1eff9;
    color: #4b37a5;
    border-radius: 8px;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
}