.qci-parent {
    padding: 15%;
    background-color: white;
    height: 100vh;
    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
}

.qci-header {
    font-size: large;
    font-weight: 600;
    color: #4b37a5;
    padding-bottom: 5%;
}

.qci-list {

}

.qci-status {
    margin-top: 10%;

}

.qci-btn {
    color: #4b37a5;
    background-color: #f3f2f8;
    border-color: #f3f2f8;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    text-align: left;
}

.qci-btn:hover {
    color: #4b37a5;
    background-color: #f3f2f8;
    border-color: #f3f2f8;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    text-align: left;
}

.qci-btn:focus {
    color: #4b37a5;
    background-color: #f3f2f8;
    border-color: #f3f2f8;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    text-align: left;
}
