@import '../src/assets/scss/var.scss';

.rn-parent {
  color: #ffffff;
  background-color: #30265c;
  font-size: 18px;
  margin: 0;

    font-family: 'Metropolis', 'Avenir Next', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rn-navbar-brand {
  color: #ffffff;
  margin-left: 3%;
  font-size: larger;
  font-weight: 700;
}

.rn-title {
  padding-left: 2%;
}
